html {
	background-color: #53ff1a;
}

p {
	color: blue;
}

.headings {
	font-size: 30px;
	height:20%;
}

h3, p, .headings{
	font-size: 50px;
}

#buttonClick {
	text-decoration: none;
	display: inline-block;
	background-color:#DCDCDC;
	border: 20px solid #DCDCDC;
}